/* *{
    border: red solid 1px;
} */


#pageHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
    font-size: 60px;
}
#searchBtn:hover {
color: white;
background-color: blue;
}
#bigParent {
display: flex;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#sideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;;
}
#searchBtn {
    border-bottom: black solid 1px;
}
#searchHistoryList {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#searchHistoryList li :hover{
    background-color: blue;
    color: white;
    border: white solid 1px;
}
#5dayCast div {
display: flex;

}
*card {
    border: black solid 1px;
}
#Iconic {
    border: solid black 1px;
   font-weight: bolder;
}